body {
    background-color: aquamarine;
}

section {
    text-align: center;
    border-style: solid;
    border-color: blue;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 25pt;
    color: purple;
}

h2 {
    font-size: 30pt;
    color: violet;
}

h3 {
    color: blueviolet;
    font-size: 25pt;
}

#spongebob {
    background-color: steelblue;
    border-style: double;
}